body{
    overflow-x: hidden;
}

.helvetic-nue {
    font-family: 'Helvetica Neue', sans-serif;
                                                
}
.space-grotesk {
    font-family: 'Space Grotesk', sans-serif;
                                                
}
